* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.section-one, 
footer {
    background-color: #1F2937;
    color: #fff;
    padding: 0 8em;
}

.heading {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.5em;
    color: #F9FAF8;
}

nav ul {
    list-style-type: none;
    display: flex;
}

li a {
    color: #E5E7EB;
    font-size: 1.125em;
    text-decoration: none;
    padding: 1em;
}

li a:last-child {
    padding-right: 0;
}

.hero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 5em 0 8em;
}

.hero-text {
    margin-right: 1em;
    width: 30%;
}

.hero-text h1 {
    font-size: 3em;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 1.125em;
    color: #E5E7EB;
    overflow-wrap: break-word;
}

.hero-text button {
    border: none;
    outline: none;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0.25em 1.5em;
    margin-top: 1em;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.hero-text button:active {
    background-color: #3882F6;
    color: #fff;
}

.hero-image img {
    width: 37.5em;
    height: 15.625em;
}

.section-two h1 {
    font-size: 2.25em;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-top: 1.25em;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container1,
.container2,
.container3,
.container4 {
    width: 10em;
    height: auto;
    margin: 3em 4em 8em;
}

.container img {
    width: 10em;
    height: 10em;
    border-radius: 0.35em;
}

.container p {
    font-size: 1.155em;
    font-weight: 100;
    text-align: center;
}

.section-three {
    background-color: #E5E7EB;
    padding: 10em;
    position: relative;
}

.section-three blockquote {
    font-size: 2.25em;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.section-three p {
    font-size: 1.5em;
    font-weight: 900;
    color: #1F2937;
    padding-top: 1em;
    position: absolute;
    right: 10em;
}

.section-four {
    width: 80%;
    height: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px auto;
    border-radius: 0.35em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5em 0;
}

.section-four p {
    font-size: 1.5em;
}

.section-four p:first-child {
    font-weight: 700;
}

.section-four button {
    border: 2px solid #fff;
    outline: none;
    font-size: 1.25em;
    font-weight: 700;
    padding: 0.25em 1.5em;
    background-color: #3882F6;
    color: #fff;
    border-radius: 0.3125em;
    cursor: pointer;
    align-self: center;
    transition: all 150ms ease-in-out;
}

.section-four button:active {
    background-color: #fff;
    color: #3882F6;
}

footer {
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    font-weight: 500;
}

@media (max-width: 1151px) and (min-width: 1000px) {
    .hero-text {
        max-width: 40%;
        margin-right: 2em;
    }

    .hero-image img {
        width: 31.25em;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin-left: 2em;
        margin-right: 2em;
    }

    .section-three {
        padding: 8em;
    }

    .section-four {
        padding: 3em;
    }

    .section-four p {
        font-size: 1.25em;
    }

    .section-four button {
        font-size: 1em;
        padding: 0.25em 1em;
    }
}

@media (max-width: 999px) and (min-width: 800px) {
    .heading nav li a {
        padding: 0.4em;
    }

    .hero-image img {
        display: none;
    }

    .hero-text {
        width: 100%;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin: 2em 1em;
    }

    .section-three {
        padding-top: 5em;
        padding-bottom: 8em;
        text-align: justify;
    }

    .section-four {
        padding: 3em 1.5em;
    }

    .section-four p {
        font-size: 1.15em;
    }

    .section-four button {
        font-size: 1em;
        padding: 0.25em 0.75em;
    }
}

@media (max-width: 799px) and (min-width: 527px) {
    .hero {
        padding: 2em 0 2em;
    }

    .heading nav li a {
        display: none;
    }

    .hero-image img {
        display: none;
    }

    .hero-text {
        width: 100%;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        margin: 1em 3.5em;
    }

    .section-three {
        padding: 5em 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-three blockquote {
        font-size: 1.25em;
    }

    .section-three p {
        font-size: 1em;
        top: 10em;
    }

    .section-four {
        padding: 2em 1em;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-four p {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    .section-four button {
        font-size: 0.75em;
        font-weight: 500;
        padding: 0.25em 2em;
    }

    footer {
        height: 3em;
        font-size: 1em;
    }

}

@media (max-width:799px) and (min-width:618px) {
    .section-three blockquote {
        font-size: 1.75em;
    }

    .section-three p {
        top: 12.275em;
    }
}